download-bible.sh
commands-to-download
tmp
useful-links
metadata.csv.orig
list
python
__pycache__/
local/
data/bibles
data/metadata
data/tmp
.vscode/
.venv/
.__pycache__
.pytest_cache
*.csv
*.json
analysis/lifespans/results/
